* {
  font-family: 'arial', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/background\ img.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  position: relative;
}

p {
  margin: 0;
} 

/* UPCOMING MOVIES */

#movies {
  max-width: 1400px;
  margin: 0 150px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  text-align: center;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.001);
}

.movieDetails {
  align-self: center;
  width: 180px;
  height: 350px;
  margin: 20px 15px 0 15px;
  flex: 1 1 auto;
  position: relative;
}

.poster {
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px;
  border: 5px solid rgb(255, 208, 0);
}

.poster:hover {
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px;
  border: 5px solid rgb(4, 160, 17);
}

.language {
  font-size: 13px;
  text-align: left;
  padding-left: 17px;
  color: rgb(238, 238, 238);
  margin-top: 0;
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  padding-left: 17px;
  color: white;
}

.ratings {
  position: absolute;
  bottom: 315px;
  left: 180px;
  height: 35px;
  width: 35px;
  border: 2.5px solid rgb(255, 196, 0);
  border-radius: 180px;
  background-color: gray;
  color: white;
  font-weight: 600;
  line-height: 35px;
}

.hiddenClass {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.loadMore {
  background-image: url(img/loadMore.png);
  background-size: 170px;
  background-position: center;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding-left: 20px;
  position: absolute;
  bottom: 50px;
  left: 732px;
  border: 2px solid rgb(10, 11, 94);
  outline: none;
}

.loadMore:hover {
  background-image: url(img/loadMore.gif);
}

#roulette {
  background-image: url(img/roulette.png);
  background-size: 100px;
  border: 2px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding-left: 20px;
  position: absolute;
  bottom: 50px;
  left: 1200px;
  background-position: center;
  outline: none;
}

#roulette:hover {
  background-image: url(img/roulette.gif);
}



/* MOVIE DETAILS */

#details {
  max-width: 1400px;
  margin: 0 150px;
}

.movieTitle {
  margin: 60px 0 0 310px;
  color: white;
}

.detailsContTop {
  display: flex;
  margin: 10px 300px 0 300px;
}

.detailsPoster {
  border-radius: 5px;
  border: 5px solid rgb(255, 208, 0);
}

.details {
  /* flex: auto; */
  margin-top: 10px;
  color: white;
  margin-left: 40px;
  position: relative;
}

.movieRating,
.popularity,
.langDetails,
.prodCompanies,
.plot,
.tagline,
.genres,
.runtime {
  padding: 10px;
  font-size: 14px;
  margin: 0;
}

.movieRating {
  margin: 100px 0 0 330px; 
}

.rateMovie {
  padding-right: 100px;
}

b {
  font-size: 16px;
}

.imdbLogo {
  margin-top: 10px;
  background-size: 50px;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

/* RATING */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin: 0 20px 0 0;
}

.rating>option {
  display: inline-block;
  position: relative;
  width: 1.1em;

}

.rating>option:hover,
.rating>option:hover~option {
  color: transparent;
}

.rating>option:hover:before,
.rating>option:hover~option:before {
  content: "\2B50";
  position: absolute;
  left: 0;
  color: gold;
}

option[checked="true"]:before {
  content: "\2B50";
  position: absolute;
  left: 0;
  color: gold;
}

option[checked="false"] {
  color: transparent;
}

.invisible {
  color: transparent;
}

/* ROULETTE */

.rouletteBody {
  display: flex;
}

#rouletteCont {
  margin: auto;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  height: 520px;
  position: relative;
}

.rouletteTitle {
  margin-top: 50px; 
  color: white;
  /* border-radius: 5px;
  border: 3px solid rgb(255, 208, 0); */
  padding: 10px 30px 10px 30px;
}

.selectGenre {
  color: white;
  margin: 0 0 5px 40px;
  font-size: 20px;
  font-weight: 550;
}

.genreList {
  margin: 15px 8px 8px 15px;
  color: white;
  /* padding-left: 15px; */
}

 .genreNames {
  color: white;
  padding-left: 55px;
} 

.rouletteBtn {
  background-image: url(img/roulette.png);
  background-size: 100px;
  border: 2px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding-left: 20px;
  position: absolute;
  top: 550px;
  left: 120px;
  background-position: center;
  outline: none;
}
